@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:"android";
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
}


:root {
   --cor1:#76fcab;
   --cor2:#00FF66;
   --cor3:#00CC52;
   --cor4:#008033;
   --cor5:#0e331d;

   --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
   --fonte-destaque:'Bebas Neue', cursive;
   --fonte-android:"android", cursive;
 
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgba(68, 41, 41, 0.342);
    font-family: var(--fonte-padrao);
    
}
a.externos::after{
    content:'\00a0\1F517';
}
main p{
    margin: 15px 0 15px 0;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    font-weight: normal;
}
header{
    background-color: var(--cor4);
    text-align: center;
    min-height: 100px;
    padding: 15px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}
header > h1{
    color: white;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 4em;
    font-weight: lighter;
    padding: 50px;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.507);

}
   
header >p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.63);
    max-width:600px;
    margin: auto;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.507);

}
nav{
    background-color: var(--cor5);
    padding: 10PX;
    box-shadow:2px 7px 7px rgba(0, 0, 0, 0.438);
}
nav > a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    font-weight: bolder;
    
}
nav > a:hover{
    color: var(--cor5);
    background-color:var(--cor2);
    padding: 7px;
    border-radius: 5px;
    transition-duration: .5s;
}
main{
    background-color: white;
    min-width:200px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px black;
}
main strong{
    color: var(--cor4);
}
main a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor3);
}
main a:hover{
    background-image:linear-gradient( to left, white, var(--cor2) );
    color:var(--cor5);
    padding: 3px;
    border-radius: 5px;
    transition-duration: .5s;
}
main h1,h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
}
main h2{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent:10px;
}
main> picture >img{
    width: 100%;
}
main > img{
    display: block;
    margin: auto;
    max-width: 350px;
}
main .video{
    background-color: var(--cor5);
   padding: 20px;
    margin: 0 -20px;
    position: relative;
    padding-bottom: 59%;

}
main> .video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px var(--cor5);
    
}
aside ul{
    list-style-position: inside;
   list-style-type:'\2714\00a0\00a0';
    columns: 2;
    font-weight: bold;
}
aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 15px;
    margin: -10px;
    border-radius: 10px 10px 0 0;
}
footer{
    background-color: var(--cor5);
    box-shadow: 0 0 7px black;
    color: white;
    text-align: center;
    padding: 20px;
}
footer  a{
   text-decoration: none;
   font-weight: bolder;
   color: white; 
}
footer a:hover{
    background-color: white;
    color: var(--cor5);
    padding: 3px;
    border-radius: 10px;
    transition-duration: 0.5s;
}